<div class="container">
    <div class="row">
        <div class="col-12 d-flex main-col">
            <div class="col-md-12 col-lg-7 col-xxl-8">
                <h2 class="dialog-title"> Basket</h2>
                @if(basket?.basketItems.length == 0 ){
                <div>
                    <h2 class="dialog-title"> Basket is
                        Empty</h2>
                </div>
                }@else {
                <div class="basket-items">
                    @for (course of basketWithCourses; track $index) {
                    <div class="basket-item">
                        <div class="course-image-content">
                            <div class="course-image">
                                <img [src]="course.image | photoHelperNotSt"
                                    width="140" height="140">
                            </div>
                            <div class="course-content">
                                <h1><strong>{{course?.name}}</strong></h1>
                                <h2>{{course?.description.substring(0,60)}}...</h2>
                                @if(course?.priceWithDiscount > 0){
                                <p class="mb-0">
                                    <strong>
                                        <span class="cut-text">{{course?.price |
                                            currency}} </span>
                                        {{course.priceWithDiscount | currency}}
                                    </strong>
                                </p>
                                }@else {
                                <p class="mb-0">
                                    <strong>{{course?.price |
                                        currency}}</strong>
                                </p>
                                }
                                <p class="mb-0">
                                    <strong>{{course?.feature?.duration |
                                        durationFormatter}}</strong>
                                </p>
                            </div>
                        </div>
                        <div class="course-remove">
                            <button mat-flat-button color="primary"
                                (click)="removeFromBasket(course)"><strong>Remove</strong></button>
                        </div>
                    </div>
                    <br>
                    }
                </div>
                }
            </div>
            <div class="col-md-8 col-lg-5 col-xxl-4 mt-5 bottom-col">
                <div class="sticky-top">
                    @if(basket?.basketItems.length > 0 ){
                    <div class="coupon-actions">
                        <div class="coupon-form-and-text">
                            <div class="coupon-form-field">
                                <mat-form-field style="margin-bottom: -10px;">
                                    <mat-label>Coupon</mat-label>
                                    <input matInput
                                    [formControl]="couponCode"
                                    placeholder="Enter Coupon">
                                </mat-form-field>
                            </div>
                            @if(basket?.discountCode){
                            <p>
                                <strong>{{basket?.discountRate}}{{couponCodeAppliedText}}</strong>
                            </p>
                            }
                        </div>
                        <div class="coupon-apply-remove">
                            @if(basket.discountCode){
                            <button mat-raised-button class="remove-coupon-btn"
                                (click)="removeDiscount()">Remove
                                Coupon</button>
                            }
                            <button mat-raised-button [disabled]="basket.discountCode"
                                class="apply-coupon-btn"
                                (click)="applyDiscount()">Apply Coupon</button>
                        </div>
                    </div>
                    }
                    <div class="dialog-action-section"
                        [ngStyle]="{'justify-content': basket?.basketItems.length == 0 ? 'flex-end' : 'space-between' }">
                        @if(basket?.basketItems.length > 0 ){
                        <div>
                            @if(basket?.totalPriceWithDiscount > 0){
                            <p class="dialog-total-price">
                                <strong>Total Price : <span
                                        class="cut-text">{{basket?.totalPrice |
                                        currency}} </span> </strong>
                                <strong>{{basket?.totalPriceWithDiscount |
                                    currency}}</strong>
                            </p>
                            }@else {
                            <p class="dialog-total-price">
                                <strong>Total Price : {{basket?.totalPrice |
                                    currency}}</strong>
                            </p>
                            }
                        </div>
                        }
                        <div class="dialog-actions">
                            @if(basket?.basketItems.length > 0 ){
                            <a mat-raised-button color="primary"
                                routerLink="/checkout">Checkout</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>