<div style="display: flex;justify-content: space-between;margin: 20px;">
    <a class="logo" routerLink="/">Course.Web</a>
    <div style="display: flex;">
        <button mat-raised-button routerLink="/"
            style="margin-right:10px;">Home</button>
        <div *ngIf="!isAuthenticated; else loggedIn">
            <button mat-raised-button routerLink="/sign-in">Sign In</button>
        </div>
        <ng-template #loggedIn>
                <button mat-raised-button [matMenuTriggerFor]="afterSignIn">
                    <strong>{{userName}}</strong>
                </button>
                <mat-menu #afterSignIn="matMenu" yPosition="below">
                    <button mat-menu-item routerLink="/profile">Profile</button>
                    <button mat-menu-item (click)="signOut()">Sign Out</button>
                </mat-menu>
        </ng-template>
        @if(isBasketEmpty){
            <button mat-mini-fab routerLink="/"
            class="basket-btn" (click)="openBasketDialog()">
            <mat-icon>shopping_basket</mat-icon>
        </button>
        }
    </div>
</div>
