@if(notifications || notifications != undefined ||  notifications != null){
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6 notification-col">
                <mat-list class="notification-container">
                    @for (item of notifications; track $index) {
                        <mat-list-item
                        [style.background-color]="!item.status ? '#aed2f7' : '#ffff'"
                        class="notification-item">
                        @if(!item.status){
                            <span matListItemIcon class="unread-notification-dot"></span>
                        }
                        <span matListItemTitle class="fw-5">{{item.title}}</span>
                        <span matListItemLine class="fw-5">{{item.description}}</span>
                        <span>{{item.createdDate | timeComparison}}</span>
                    </mat-list-item>
                }
            </mat-list>
        </div>
    </div>
</div>
}@else{
    <h2>No Notification</h2>
}