<div class="container d-flex justify-content-center">
    <div class="col-md-10">
        <div class="d-flex mb-5">
            <h1 class="fw-bold" style="margin: 0 auto;">Order History</h1>
        </div>
        <!-- <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input />
        </mat-form-field> -->
        <table mat-table
            [dataSource]="orderDataSource"
            matSort
            (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8">

            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    sortActionDescription="Sort by address">Address</th>
                <td mat-cell *matCellDef="let element">
                    <div class="d-flex">
                        <mat-list class="d-flex"
                            style="flex-direction: column;">
                            <mat-list-item>
                                <mat-icon matListItemIcon></mat-icon>
                                <span matListItemTitle><strong>Street: </strong>
                                    <span>{{element.address.street}}</span></span>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon matListItemIcon></mat-icon>
                                <span matListItemTitle><strong>ZipCode:
                                    </strong>
                                    <span>{{element.address.zipCode}}</span></span>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon matListItemIcon></mat-icon>
                                <span matListItemTitle><strong>Line: </strong>
                                    <span>{{element.address.line}}</span></span>
                            </mat-list-item>
                        </mat-list>
                        <mat-list class="d-flex"
                            style="flex-direction: column;">
                            <mat-list-item>
                                <mat-icon matListItemIcon></mat-icon>
                                <span matListItemTitle><strong>Province:
                                    </strong>
                                    <span>{{element.address.province}}</span></span>
                            </mat-list-item>
                            <mat-list-item>
                                <mat-icon matListItemIcon></mat-icon>
                                <span matListItemTitle><strong>District:
                                    </strong>
                                    <span>{{element.address.district}}</span></span>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="orderItems">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    sortActionDescription="Sort by orderItems">Order Items</th>
                <td mat-cell *matCellDef="let element">
                    <mat-list>
                        @for (orderItem of element.orderItems; track $index) {
                        <mat-list-item>
                            <img src={{orderItem.imageUrl}} matListItemIcon>
                            <span
                                matListItemTitle>{{orderItem.productName}}</span>
                            <span matListItemLine>{{orderItem.price |
                                currency}}</span>
                        </mat-list-item>
                        }
                    </mat-list>
                </td>
            </ng-container>

            <ng-container matColumnDef="invoiceFileUrl">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    sortActionDescription="Sort by invoiceFileUrl">Invoice File</th>
                <td mat-cell *matCellDef="let element">
                    @if(element.invoiceFileUrl != ""){
                        <a [href]="element.invoiceFileUrl | invoiceUrlHelper" target="_blank">
                            <img src="../../../assets/pdf.svg" width="50" height="50">
                        </a> 
                    }@else{
                        <img src="../../../assets/none.png"
                            alt="No Invoice Has Found" width="50" height="50">
                    }
                </td>
            </ng-container>

            <ng-container matColumnDef="createdDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header
                    sortActionDescription="Sort by createdDate">Order Date</th>
                <td mat-cell *matCellDef="let element">{{ element.createdDate |
                    date}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
        <div class="d-flex justify-content-center">
            <mat-paginator
                class="mt-4"
                (page)="handlePageEvent($event)"
                [pageSizeOptions]="[4, 8, 12]"
                showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>
