@import "../../../../node_modules/bootstrap/dist/css/bootstrap-grid.min.css";
@import "../../../../node_modules/bootstrap/dist/css/bootstrap-utilities.min.css";

.example-card {
    max-width: 400px;
    border-radius: 15px;
}

.example-header-image {
    background-image: url('../../../assets/logo.png');
    background-size: cover;
    background-position: center;
}

.card-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 8px;
}

.col-flex {
    flex-wrap: wrap;
}

.paginator {
    margin: 0 auto;
}

