<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex col-flex">
            <div class="col-md-4 mb-2" *ngFor="let course of courseModel">
                <mat-card class="example-card" appearance="outlined">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{course.name}}</mat-card-title>
                        <mat-card-subtitle>{{course.category.name}}</mat-card-subtitle>
                    </mat-card-header>
                    <img src="{{course.image | photoHelperNotSt}}"
                        mat-card-image>
                    <mat-card-content class="mt-3">
                        <p>
                            {{course.description}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions class="card-actions">
                        <p
                            class="fs-5 mx-3 mt-3"><strong>{{course.price|currency}}</strong></p>
                        <p
                            class="fs-5 mx-3 mt-3"><strong>{{course.feature.duration}}</strong>
                            min</p>
                        <button mat-stroked-button
                            class="detail-button">Detail</button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <mat-paginator (page)="handlePageEvent($event)"
                [pageSizeOptions]="[6, 12, 18]" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>
</div>
