<mat-card class="login-card" appearance="outlined">
    <mat-card-header>
        <mat-card-title>
            <h1>User Login </h1>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="col-md-6">
                            <mat-form-field hintLabel="Min 10 characters">
                                <mat-label>Email address</mat-label>
                                <input formControlName="email" matInput
                                    minlength="10"/>
                                <div *ngIf="signInForm.controls['email'].invalid 
                                && (signInForm.controls['email'].dirty 
                                || signInForm.controls['email'].touched)">
                                    <div
                                        *ngIf="signInForm.controls['email'].errors['required']">Email
                                        is required.</div>
                                    <div
                                        *ngIf="signInForm.controls['email'].errors['email']">Invalid
                                        email format.</div>
                                </div>
                                <mat-hint align="end">10 <
                                    {{signInForm.get('email').value?.length}}</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field
                                hintLabel="Provide a valid password">
                                <mat-label>Password</mat-label>
                                <input formControlName="password" matInput
                                    type="password">
                                <div *ngIf="signInForm.controls['password'].invalid 
                                && (signInForm.controls['password'].dirty 
                                || signInForm.controls['password'].touched)">
                                    <div
                                        *ngIf="signInForm.controls['password'].errors['required']">Password
                                        is required.</div>
                                </div>
                                <mat-hint align="end"></mat-hint>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-error
                                *ngIf="signInForm.invalid && (signInForm.dirty || signInForm.touched)">
                                Please fix the errors below.
                            </mat-error>
                        </div>
                        <div class="col-md-6">
                            <mat-checkbox formControlName="isRemember">Remember
                                Me</mat-checkbox>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" mat-button
                                [disabled]="signInForm.invalid">Sign In</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>