.container{
  display: flex;
  justify-content: center;
}
.card-content {
  font-size: large;
}
.example-card{
  max-width: 600px;
  display: flex;
  align-items: center;
}
.example-button-container {
  display: flex;
  justify-content: center;
  width: 175px;
  margin-bottom: 10px;
}

.example-header-image {
  background-image: url('../../../assets/default-user-img.png');
  background-size: cover;
  background-position: center;
}