<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">User Informations</h5>
                <table class="table table-striped">
                    <tr>
                        <td>UserId</td>
                        <td>{{ user.sub }}</td>
                    </tr>
                    <tr>
                        <td>User Name</td>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <td>User Email</td>
                        <td>{{ user.email }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>